h2 Submit New Message

form(action="/new" method="post")
    h3 Enter a new message
    input(type="text", placeholder="Book Name", name="message")
    input(type="text", placeholder="Author", name="user")
    button Submit